[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "autoshiny"]
	path = autoshiny
	url = https://github.com/alekrutkowski/autoshiny
[submodule "eurodata"]
	path = eurodata
	url = https://github.com/alekrutkowski/eurodata
